{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" id="article-column">
      <div class="article">
        <h2 class="article-title" id="article-title"></h2>
        <div class="article-content" id="article-content"></div>
      </div>
      <button class="btn btn-success" id="take-quiz">Finish & Take Quiz</button>
    </div>
  </div>
</div>
<div class="modal fade" id="error-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p id="error-message"></p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'quizzes:new_assignments' %}" class="btn btn-danger">OK</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
  var _context = {
    submit_answers_url: "{% url 'quizzes:attempt' quiz_id %}",
    quiz_details_url: "{% url 'quizzes_api:quiz_details' quiz_id %}",
    answer_sheet_details_url: "{% url 'quizzes_api:answer_sheet_details' answer_sheet.id %}"
  };
  var context = JSON.stringify(_context);
</script>
<script type="application/dart" src="{% static 'dart/quizzes/attempt.dart' %}"></script>
<script src="{% static 'dart/packages/browser/dart.js' %}"></script>
{% endblock %}
