{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Solutions</h3>
        </div>
        <div class="panel-body">
        {% for q in questions %}
          <div class="form-group">
            <label>{{ q.sequence }}. {{ q.question }}</label>
            <input class="form-control solution-input" type="text" data-question-id="{{ q.id }}" value="{{ q.standard_answer }}">
          </div>
        {% endfor %}
          <button class="btn btn-success" type="submit" id="submit-solutions">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
  var submit_solution_url = "{% url 'quizzes:edit_solutions' quiz_id %}";
</script>
<script type="application/dart" src="{% static 'dart/quizzes/edit_solutions.dart' %}"></script>
<script src="{% static 'dart/packages/browser/dart.js' %}"></script>
{% endblock %}
