{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Quizzes</h3>
        </div>
        {% if not quizzes %}
        <div class="panel-body">
          None
        </div>
        {% endif %}
        {% if quizzes %}
        <table class="table">
          <tr>
            <th>#</th>
            <th>Quiz</th>
            <th>Course</th>
            <th>Actions</th>
          </tr>
          {% for q in quizzes %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ q.article.title }}</td>
            <td>{{ q.course.name }}</td>
            <td>
              <a href="{% url 'quizzes:edit_quiz' q.id %}" class="btn btn-primary btn-xs">Edit</a>
              <a href="{% url 'quizzes:edit_solutions' q.id %}" class="btn btn-primary btn-xs">Solution</a>
              <button class="btn btn-danger btn-xs delete-quiz" data-delete-quiz-url="{% url 'quizzes:delete_quiz' q.id %}">Delete</button>
            </td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="application/dart" src="{% static 'dart/quizzes/delete_quiz.dart' %}"></script>
<script src="{% static 'dart/packages/browser/dart.js' %}"></script>
{% endblock %}
